{% extends "base.html" %}
{% block content %}
    <section class="p-5">
        <div class="row justify-content-center">
            <div class="col-xxl-3 col-xl-4 col-sm-6 col-xs-12 bg-light">
                <div class="container">
                    <div class="row justify-content-center my-3">
                        <div class="col-8">
                            <img src="{{ profile.picture.url }}"
                                 class="img-fluid rounded-circle"
                                 alt="{{ profile }}">
                        </div>
                    </div>
                    <div class="row justify-content-center my-3">
                        <div class="col">
                            <p><b>First Name:</b> {{ profile.first_name }}</p>
                            {% if profile.middle_name %}
                            <p><b>Fathers Name:</b> {{ profile.middle_name }}</p>
                            {% endif %}
                            <p><b>Last Name:</b> {{ profile.last_name }}</p>
                            <p><b>Age:</b> {{ profile.age }}</p>
                            <p><b>Phone:</b> {{ profile.phone_code }} / {{ profile.phone }}</p>
                            <p><b>Email:</b> {{ profile.user.email }}</p>
                            <a href="{% url 'edit profile' profile.pk %}" class="btn btn-dark">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
