{% extends 'base.html' %}
{% block content %}
    <section class="p-5">
        <div class="container">
            <div class="row g-5 justify-content-center">
                <div class="col-xl-6 col-sm-12 bg-light">
                    <div class="container p-4">
                        <form method="post">
                            {% csrf_token %}
                            <div class="text-danger">{{ form.non_field_errors }}</div>
                            {% for field in form %}
                                <h6>{{ field.label_tag }}</h6>
                                <p>
                                    {{ field }}
                                </p>
                                <p class="text-danger">{{ field.errors }}</p>
                            {% endfor %}
                            <button type="submit" class="btn btn-dark">Submit</button>
                            <a href="{% url 'list expenses' building_pk apt_pk %}"
                               class="btn btn-dark">Back</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}