{% extends "base.html" %}
{% block content %}
    <section class="p-5">
        <div class="container">
            {% if not object_list %}
                <h1 class="text-center">Please, ask the administrator to add your buildings</h1>
            {% else %}
                <div class="row g-4 justify-content-center">
                    {% for building in object_list %}
                        <div class="col-sm-6 col-md-3">
                            <div class="card">
                                <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/v_collection_png/512x512/shadow/office_building.png"
                                     class="card-img-top"
                                     alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ building.street_address }}, {{ building.block_number }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ building.city }}</h6>
                                    <p class="card-text">
                                        <b>Storeys count:</b> {{ building.floors_count }}<br>
                                        <b>Apt. count:</b> {{ building.apartment_set.all | length }}<br>
                                        {% if building.description %}
                                        {{ building.description }}
                                        {% else %}
                                        There is no description of this building.
                                        {% endif %}
                                    </p>
                                    <a href="{% url 'edit building' building.pk %}"
                                        class="btn btn-primary bg-warning m-1">Edit</a>
                                    <a href="{% url 'delete building' building.pk %}"
                                        class="btn btn-primary bg-danger m-1">Delete</a>
                                    <a href="{% url 'view apartments' building.pk %}"
                                        class="btn btn-primary bg-dark m-1">Apartments</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock content %}
