{% extends 'base.html' %}
{% block content %}
    <section class="p-5">
        <div class="row justify-content-center">
            <div class="col-3 bg-light text-center py-3">
                {% csrf_token %}
                <form>
                    <div class="form-floating my-3">
                        <select class="form-select" id="yearSelector" name="Year">
                            <option value="All" {% if year_selected == 'All' %}selected{% endif %}>All</option>
                            {% for year in year_choices %}
                                <option value="{{ year }}"
                                        {% if year_selected == year %}selected{% endif %}>{{ year }}</option>
                            {% endfor %}
                        </select>
                        <label for="yearSelector">Year</label>
                    </div>
                    <div class="form-floating my-3">
                        <select class="form-select" id="monthSelector" name="Month">
                            <option value="All" {% if month_selected == 'All' %}selected{% endif %}>All</option>
                            {% for month in month_choices %}
                                <option value="{{ month }}"
                                        {% if month_selected == month %}selected{% endif %}>{{ month }}</option>
                            {% endfor %}
                        </select>
                        <label for="monthSelector">Month</label>
                    </div>
                    <div class="form-floating my-3">
                        <select class="form-select" id="nameSelector" name="Type">
                            <option value="All" {% if type_selected == 'All' %}selected{% endif %}>All</option>
                            {% for type in type_choices %}
                                <option value="{{ type }}"
                                        {% if type_selected == type %}selected{% endif %}>{{ type }}</option>
                            {% endfor %}
                        </select>
                        <label for="nameSelector">Type</label>
                    </div>
                    <div class="container">
                        <button class="btn btn-dark" type="submit">Calculate</button>
                        <a href="{% url 'report' building_pk apt_pk %}" class="btn btn-dark">Reset</a>
                        <a href="{% url 'list expenses' building_pk apt_pk %}" class="btn btn-dark">Back</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 bg-light text-center py-3">
                <h5>Average expenses: {{ result|floatformat:2 }}</h5>
            </div>
        </div>
    </section>
{% endblock %}