{% include 'base.html' %}
{% load static %}
{% block content %}
    {#    {% if user.is_authenticated %}#}
    {#        <h1>Hello, {% if user.profile %}{{ user.profile.first_name }}{% else %}{{ user.email }}{% endif %}</h1>#}
    {#    {% else %}#}
    {#        <h1>This is the HOME page!</h1>#}
    {#    {% endif %}#}
    <img src="{% static 'images/city-lights-buildings-4k-og.jpg' %}"
         class="img-fluid"
         alt="pic">
    <div class="container-fluid text-light bg-dark bg-gradient p-3">
        <div class="container">
            <h5 class="text-center">Your digital property manager</h5>
            <p class="lead">{% lorem 100 w random %}</p>
        </div>
    </div>
    <section class="mt-5">
        <h2 class="text-center">Our buildings</h2>
    </section>
    <section class="p-5">
        <div class="container">
            <div class="row g-4 justify-content-center">
                {% for i in 'aaaaaaaa'|make_list %}
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <img src="https://cdn.pixabay.com/photo/2015/04/19/08/33/flower-729512__340.jpg"
                                 class="card-img-top"
                                 alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk
                                    of the card's content.
                                </p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
